:root {
  /* Give some breathing room on larger screen sizes. */
  --main-border-radius: 0.5rem;
  --main-margin: 0.5em;

  --big-font-size: 24px;
  --mid-font-size: 18px;
}

#main {
  --left-section-width: 1fr;

  display: grid;
  position: absolute;
  inset: 0;
  width: 100vw; height: 100vh;
}

.code {
  font: min(0.9em, var(--mid-font-size)) monospace;
  overflow: scroll;
}

/* Larger screen sizes */
@media (width > 600px) {
  #main {
    grid-template-columns:
      var(--main-margin) [left-start] var(--left-section-width) [left-end] 4px [right-start] 1fr [right-end] var(--main-margin);

    grid-template-rows:
      var(--main-margin) [header-top] max-content [header-bottom] 1fr [content-mid content-bottom] var(--main-margin);
  }

  #header {
    border-top-left-radius: var(--main-border-radius);
    border-top-right-radius: var(--main-border-radius);
  }

  .content {
    grid-row: header-bottom / content-bottom;
  }

  #editor {
    grid-column: left-start / left-end;
    border-bottom-left-radius: var(--main-border-radius);
  }

  #sep {
    display: block;
    grid-column: left-end / right-start;
    grid-row: header-bottom / content-bottom;
  }

  #output {
    grid-column: right-start / right-end;
    overflow-y: auto;
    border-bottom-right-radius: var(--main-border-radius);
  }
}

/* Smaller screen sizes */
@media (width <= 600px) {
  #main {
    grid-template-columns:
      [left-start left-end] auto [right-start right-end];

    grid-template-rows:
      [header-top] max-content [header-bottom] 1fr [content-mid] 50vh [content-bottom];
  }

  #header > div > menu > button > span {
    display: none;
  }

  .content {
    grid-column: left-start / right-end;
  }

  #editor {
    grid-row: header-bottom / content-mid;
  }

  #sep {
    display: none;
  }

  #output {
    grid-row: content-mid / content-bottom;
  }
}

#header {
  grid-column: left-start / right-end;
  grid-row: header-top / header-bottom;
  overflow-x: auto;
  padding: 0 0.5rem 0 0.5rem;
  background-color: lightgray;
}

#header > div {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 0.25rem;
  border: 0.5rem black;
  border-radius: 2px;
}

#header > div > img {
  width: 3rem;
  height: 3rem;
}

#header > div > h1 {
  font-size: min(2em, var(--big-font-size));
  display: inline;
  margin: auto auto auto 1rem;
}

#header > div > menu {
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

#header > div > menu > button {
  width: max-content;
  height: 2rem;
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 0.25rem;
  font-size: min(1.25rem, var(--mid-font-size));
  background-color: white;
}

#header > div > menu > button:hover {
  background-color: #dddddd;
}

#header > div > menu > button:active {
  background-color: #aaaaaa;
}

/* https://fonts.google.com/specimen/Merriweather+Sans */
#header > div > h1,
#header > div > menu > button {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#sep {
  background-color: gray;
  box-sizing: border-box;
  border: 1px solid white;
}
#sep:hover {
  cursor: col-resize;
}

#output {
  margin: 0 0.1em 0.1em 0.1em;
  padding: 0 0.5em 0.5em 0.5em;

  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

#stdout {
  margin-top: 0;
}

#stdin {
  box-sizing: content-box;
  margin: 0 0 0 0;
  width: 100%;
}

#stdin-prompt {
  margin: 0;

  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;

  border: 2px solid lightgray;
}
